 td { text-align: center; padding-top: 10px; padding-left:10px; }

label { margin-left: 10px; margin-right: 10px;}



.Temperature tr:nth-child(even) { background-color: rgb(0, 128, 128); }
.Temperature tr:nth-child(odd) { background-color: rgb(153, 255, 255); }
table { 

    background-color: grey;
    margin: auto; 
      border-collapse: collapse;
    width: 80%;
    }

    .button {
    background-color: rgb(76, 175, 80); /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid rgb(76, 175, 80);
}